{% load i18n %} 

{%if form_new_choice.errors %} <p class='error'>{{form_new_choice.errors}}</p>{%endif%}
<form class='new_poll' action="." method="post">
    {% csrf_token %}
    <div class="field_label">
        {% trans "Add new choice" %} <span class="help_button" title='{% trans "Setting a new choice. Optionally you can set a limit of vote for this choice. This limit is usefull for limited resources allocation." %}'>?</span>
    </div>
    {{form_new_choice.poll}}
    {{form_new_choice.order}}

    {%trans "Choice value:"%}<br/>
    {{form_new_choice.name}}
    {%trans "Max number of votes (optional):"%}<br/>
    {{form_new_choice.limit}}<br/>
    <input type='hidden' name='add' value='1'/>
    <input type='submit' value='{% trans "Add" %}' class='submit'/>
</form>
