{% extends "base.html" %}
{% load i18n %}

{% block fullscript %}
<script type="text/javascript" src="{% url 'admin_i18n' %}"></script>
<script type="text/javascript" src="{{admin_url}}js/core.js"></script>
<script type="text/javascript" src="{{admin_url}}js/admin/RelatedObjectLookups.js"></script>
{{ form.media }}
{% endblock %}

{% block content %}
 <h2>{% trans "Edit poll" %}</h2>
<form class='new_poll' action="." method="post">
    {% csrf_token %}
    
    <div class="field_label">
        <label id="">{% trans "Poll url" %}</label>
        <span class="help_button" title='{% trans "Copy this address and send it to voters who want to participate to this poll" %}'>?</span>
    </div>
    <input type="text" readonly value='{{ base_url }}'>
    <a href="{{ base_url }}">{% trans "Go to the poll!" %}</a>

    <div class="field_label">
        <label id="">{% trans "Administration url" %}</label>
        <span class="help_button" title='{% trans "Address to modify the current poll" %}'>?</span>
    </div>
    <input type="text" readonly value='{{ edit_url }}'>
   
    <div class="field_label">
        <label id="">{% trans "Choices administration url" %}</label>
        <span class="help_button" title='{% trans "Address to modify choices of the current poll." %}'>?</span>
    </div>
    <input type="text" readonly value='{{choices_url }}'>
    <a href="{{ choices_url }}">{% trans "Edit choices" %}</a>
    
    {% for field in form %}
          {% if field.is_hidden %}
            {{field}}
          {% else %}
              
            <div class="field_label">
                {{field.label_tag}}
                <span class="help_button" title="{{field.help_text}}">?</span>
            </div>
            <div class="field_errors">
                {% if field.errors %}
                    Error(s) :
                    <ol class="errorlist">
                    {% for error in field.errors %}
                        <li>{{ error|escape }}</li>
                    {% endfor %}
                    </ol>
                {% endif %}
            </div>
            {{field}}
          {% endif %}
    {% endfor %}
  <tr>
   <td></td>
   <td><input type='submit' value='{% trans "Edit" %}' class='submit'/></td>
  </tr>
</table>
</form>

{% endblock %}
