{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% if error %}<p class='error'>{{error}}</p>{%endif%}
<h2><a href="{% url 'create' %}">{%trans "Create a poll"%}</a></h2>
<p>{% trans "Create a new poll for having a decision, find a date for a meeting, etc." %} <a href='create'>{% trans "It's here!" %}</a></p>

{% if public %}
{% if polls %}<h2>{%trans "Public polls"%}</h2>{%endif%}
{% for poll in polls %}
<div class='poll-description'>
 <p><a href="{% url 'poll' poll.base_url %}">{{poll.name}}</a></p>
 <p>{{poll.description|safe}}</p>
</div>
{% endfor %}

{% if categories %}<h2>{%trans "Categories"%}</h2>{% endif %}
{% for category in categories %}
<h3><a href="{% url 'category' category.id %}">{{category.name}}</a></h3>
{% endfor %}
{% endif %}
{% endblock %}
